:root {
--primary-color: #ea625c;
--text-color: #333;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto","Arial", "sans-serif";
  background-color: #fff;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  max-width: 1100;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-container {
  flex-grow: 1;
}


/*  site-header*/
.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: auto;
  transition: opacity 0.3s ease;
}
.site-header-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}
.site-header-logo-img:hover {
  opacity: 0.8;
}
.site-header-logo-img:active {
  opacity: 0.6;
}
.sitenav {
  margin-right: 10px;
}
.site-navlist {
  display: flex;
  align-items: center;
  list-style: none;
}
.site-navlinks {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  font-size: 15px;
  text-decoration: none;
  margin-right: 30px;
  color: #333;
  transition: border-bottom 0.3s ease;
  border-radius: 2px;
}
.site-navlinks:hover {
  border-bottom: 3px solid #333;
}
/* Search form */
.site-form-input {
 border: 0;
 padding-top: 6px;
 padding-bottom: 6px;
 border-bottom: 1px solid #333;
}